/* Styles généraux */
body {
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 18px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Assure que le conteneur occupe toute la hauteur de la fenêtre */
}

/* Conteneur principal du quiz */
#quiz {
	max-width: 600px;
	margin: auto;
	color: #000000;
}

/* Styles communs pour les éléments de formulaire (input, select, etc.) */
.style-input {
	width: auto;
	margin: 10px;
	padding: 10px;
	cursor: pointer;
	border: 2px solid #000000;
	color: #000000;
	background-color: #FFFFFF;
	border-radius: 45px;
	font-family: Arial, sans-serif;
	text-align: center;
	font-size: 18px;
	box-sizing: border-box;
}

/* Styles pour les boutons */
.bouton-style {
	margin : 10px;
	color: #000000;
	border: 2px solid #000000;
	border-radius: 45px;
	width: 200px;
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
	background-color: #FFFFFF;
	transition: background-color 0.2s ease, color 0.2s ease;
	box-sizing: border-box;
}

.bouton-style:hover {
	background-color: #000000;
	color: #FFFFFF;
}

/* Styles pour les options du quiz */
.choix {
	margin: 5px;
	padding: 10px;
	cursor: pointer;
	border: 2px solid #000000;
	color: #000000;
	background-color: #FFFFFF;
	border-radius: 45px;
	transition: background-color 0.2s ease, color 0.2s ease;
	box-sizing: border-box;
	width: auto;
	display: inline-block;
}

.choix:hover {
	background-color: #000000;
	color: #FFFFFF;
}

/* Styles pour l'overlay */
.overlay {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 50%;
	left: 50%; /* Ajout de la propriété left pour centrer horizontalement */
	width: auto;
	height: auto;
	background-color: #FFFFFF;
	transform: translate(-50%, -50%); /* Ajustement pour centrer verticalement et horizontalement */
}

.texte {
	font-family: Arial, sans-serif;
	text-align: center;
	color: #000000;
	font-size: 18px;
	margin : 10px;
}

/* Styles pour les cases */
.case-style {
	width: 30px;
	height: 30px;
}
